* {
    box-sizing: border-box;
}
.section-padding {
    padding: 60px 0;
}
body {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    background: #3e2bc5;
    overflow-x: hidden;
}

/*
* ----------------------------------------------------------------------------------------
* 06.START ABOUT DETAILS DESIGN
* ----------------------------------------------------------------------------------------
*/
.about-details{}
.single_about_details{}
@media only screen and (max-width:768px) { 
.single_about_details{padding-bottom: 60px;}
}
.single_about_details p{}
.single_about_details_img{text-align: center;}
.single_about_details_img img{display: inline-block;}
/*
* ----------------------------------------------------------------------------------------
* 06.END ABOUT DETAILS DESIGN
* ----------------------------------------------------------------------------------------
*/